* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #05292e;
  overflow-x: hidden;
}

.navbar {
  background-color: black;
  color: white;
  padding: 10px;
}

.location-residents {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  background-color: #062226;
}

.resident-card {
  color: #fff;
  padding: 10px;
}

.resident-card-header {
  position: relative;
}

.errorMessage {
  color: #fff;
  width: max-content;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: red;
  padding: 5px 15px;
  animation: 0.3s ease-in forwards showError;
}

.errorMessage p {
  margin: 0;
}

@keyframes showError {
  0% {
    right: -100%;
  }
  50% {
    right: -50%;
  }
  100% {
    right: 10px;
  }
}
