* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  background: linear-gradient(270deg, #45a049, #12363b);
  background-size: 400% 400%;
  animation: AnimationName 30s ease infinite;
}

.App {
  display: flex;
  flex-direction: column;
  columns: 3fr;
  align-items: center;
}

.navbar {
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar-content-search {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar-search {
  width: 100vw;
}

.navbar-filter-link:hover {
  color: #45a049;
  cursor: pointer;
}

.navbar-filter {
  padding: 0.25rem 0;
  color: #05292e;
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  top: 33px;
  right: 45%;
  width: 20%;
  border-radius: 0 0 10px 10px;
  max-height: 85vh;
  overflow-y: scroll;
  z-index: -1;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-filter::-webkit-scrollbar {
  display: none;
}

.navbar-filter li:hover {
  background-color: #45a049;
  width: 100%;
}

.navbar-input {
  width: 20vw;
  height: 66%;
  border: 1px solid #45a049;
  border-radius: 10px 0 0 10px;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #05292e;
  color: white;
}

.navbar button {
  width: 10vw;
  height: 66%;
  background-color: #45a049;
  padding: 3px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.refresh-button {
  position: fixed;
  bottom: 20px;
  right: 40%;
  background-color: #45a049;
  color: white;
  padding: 10px 40px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.refresh-button:hover {
  background-color: #7bcd7f;
}

.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-size: 2rem;
}
.location-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 30px;
  gap: 20px;
}

.location-residents {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  max-width: 1200px;
  margin-bottom: 40px;
}

.location-residents .card:hover {
  background-color: #45a049;
}

#locations {
  display: absolute;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px;
  background-color: #062226;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.card ul {
  list-style: none;
}

.resident-card {
  color: whitesmoke;
}

.resident-card ul {
  list-style: none;
  color: white;
}

.resident-card-header img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.resident-card-header {
  position: relative;
}

.resident-card-header > div {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

.status-text {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.info-1 {
  font-weight: bold;
  color: hsla(0, 0%, 100%, 0.4);
  font-size: 0.8em;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 45px;
}

.circle.Alive {
  background-color: green;
}

.circle.Dead {
  background-color: red;
}

.circle.unknown {
  background-color: gray;
}

.dimension-info {
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 20px;
  /* border: 1px solid #fff; */
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
}
.dimension-info ul {
  gap: 30px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.top-button {
  position: fixed;
  bottom: 20px;
  left: 40%;
  background-color: #45a049;
  color: white;
  padding: 10px 40px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
.top-button:hover {
  background-color: #7bcd7f;
}

.errorMessage {
  color: #fff;
  width: max-content;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: -100%;
  background-color: red;
  padding: 5px 15px;
  animation: 0.3s ease-in forwards showError;
}

.errorMessage p {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .navbar-content-search {
    flex-direction: column;
    align-items: center;
  }
  .navbar-filter {
    right: 0;
    width: 100%;
  }

  .navbar-input {
    width: 50vw;
    height: 40px;
  }

  .navbar button {
    width: 30vw;
    height: 40px;
  }
  .refresh-button {
    right: 20%;
  }
  .top-button {
    left: 20%;
  }

  .location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 1rem;
  }
  .location-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 30px;
    gap: 20px;
  }
}

@keyframes showError {
  0% {
    right: -100%;
  }
  50% {
    right: -50%;
  }
  100% {
    right: 10px;
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
